{% extends "::base.html.twig" %} 
	{% block head %}
	<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
{% endblock %} 
	{% block body %}
                <table class="table-bordered table text-center">
			<tr>
				<th>Date</th>
				<th>Libellé</th>
				<th>Montant</th>
				<th>Modifier</th>

			</tr>
		        {% for value in result %}
			<tr>
				<td> {{ value.date|date('d-m-y') }} </td>
				<td> {{ value.libelle }} </td>
				<td> {{ value.montant }} </td>
				<td>  <a href="/fichefrais/lignefraishorsforfait/modifier/{{value.id}}" class="btn btn-primary">Modifier</a> </td>
		        </tr>
		        {% endfor %}
                </table>
{% endblock %}
