{% extends "::base.html.twig" %} 
	{% block head %}
	<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
{% endblock %} 
	{% block body %}
                <table class="table-bordered table text-center">
			<tr>
				<th>Date (mois/année)</th>
				<th>Quantité</th>
				<th>Frais forfait</th>
				<th>Modifier</th>
			</tr>
		        {% for value in result %}
			<tr>
				<td> {{ value.mois }} </td>
				<td> {{ value.quantite }} </td>
				<td> {{ value.fraisforfait.id }} </td>
				<td>  <a href="/fichefrais/lignefraisforfait/modifier/{{value.id}}" class="btn btn-primary">Modifier</a> </td>
		        </tr>
		        {% endfor %}
                </table>
{% endblock %}
